argcomplete
argon2-cffi
attrs
backcall
beautifulsoup4
bleach
bs4
cachetools
certifi
cffi
charset-normalizer
click
debugpy
decorator
defusedxml
entrypoints
Flask
Flask-WTF
gcloud
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
gunicorn
httplib2
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauth2client
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
protobuf
psycopg2-binary
ptyprocess
pyasn1
pyasn1-modules
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
requests
rsa
scikit-learn
scipy
Send2Trash
six
sklearn
soupsieve
SQLAlchemy
terminado
testpath
threadpoolctl
tornado
traitlets
typing-extensions
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
WTForms
zipp
