<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta http-equiv="Refresh" content="60">  -->
  <title>TREE STUDIO</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='dist/img/logo.ico') }}" type="image/x-icon"/>

  <!-- bootstrap -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css') }}">
  <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
  <!-- 圖片放大功能 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/lightbox.min.css') }}">
  <script src="{{ url_for('static', filename='dist/js/lightbox-plus-jquery.min.js') }}"></script>
  
  <!-- echarts -->
  <script src="{{ url_for('static', filename='dist/js/echarts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/echarts.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
  <!-- 彈出視窗功能 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/layer/3.5.1/layer.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <!-- 圖片動畫 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
  <!-- 其他動畫 -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
  <!-- datatable -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
  <!-- BS-Stepper -->
  <script src="{{ url_for('static', filename='plugins/bs-stepper/js/bs-stepper.min.js')}}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bs-stepper/css/bs-stepper.min.css')}}">
  <!-- 選擇日期時間 -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')}}">
  <script src="{{ url_for('static', filename='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')}}"></script>  -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
  
</head>
<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <!-- <a href="{{ url_for('index') }}" class="nav-link">Home</a> -->
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button" title="顯示全螢幕">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-slide="true" href="#" role="button" title="下載PDF檔" id = "download_pdf" onclick="saveAsPDF();">
          <i class="fas fa-file-download"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div>
        <a href="{{ url_for('index') }}" class="brand-link">
                <div>
                    <!-- <img src="{{ url_for('static', filename='dist/img/logo2.png') }}"  style="height: 40px;"> -->
                    <img src="{{ url_for('static', filename='dist/img/logo2.png')}}"  class="brand-image" style="opacity: 1">
                    <span class="brand-text font-weight" style="padding-left: 10px; ">TREE STUDIO</span>
                    <!-- <span class="brand-text font-weight-light" style="padding-left: 10px;"><b style="font-size: 1.5rem;">TREEDASH</b> </span> -->
                </div>
          </a>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item">
            <a href="{{ url_for('index') }}" class="nav-link  {{ 'active' if active_page == 'index' else '' }}">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Home
              </p>
            </a>
          </li>
          

          <!-- 訂餐系統 -->
          <li class="nav-item {{ 'menu-open' if open_page == 'food' else '' }}">
            <a href="#" class="nav-link {{ 'active' if open_page == 'food' else '' }}">
              <i class="nav-icon fas fa-utensils"></i>
              <p>
                訂餐系統
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ url_for('food_order') }}" class="nav-link {{ 'active' if active_page == 'food_order' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>今日訂餐</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('food_setting') }}" class="nav-link {{ 'active' if active_page == 'food_setting' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>訂餐設定</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link {{ 'active' if active_page == 'food_group' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>團購系統</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link {{ 'active' if active_page == 'food_his' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>歷史資料</p>
                </a>
              </li>
            </ul>
          </li>

          <!-- 公告系統 -->
          <li class="nav-item">
            <a href="{{ url_for('broadcast') }}" class="nav-link  {{ 'active' if active_page == 'broadcast' else '' }}">
              <i class="nav-icon fas fa-bullhorn"></i>
              <p>
                公告系統
              </p>
            </a>
          </li>

          <!-- Wiki 知識庫 -->
          <li class="nav-item">
            <a href="{{ url_for('wiki') }}" onclick="window.open('http://10.95.43.73:8001')" class="nav-link  {{ 'active' if active_page == 'wiki' else '' }}">
              <i class="nav-icon fab fa-wikipedia-w"></i>
              <p>
                Wiki 知識庫
              </p>
            </a>
          </li>

          <!-- GitLab -->
          <li class="nav-item">
            <a href="{{ url_for('gitlab') }}" onclick="window.open('http://10.95.43.74:8001')" class="nav-link  {{ 'active' if active_page == 'gitlab' else '' }}">
              <i class="nav-icon fab fa-gitlab"></i>
              <p>
                GitLab
              </p>
            </a>
          </li>

          <!-- Jira -->
          <li class="nav-item">
            <a href="{{ url_for('jira') }}" onclick="window.open('https://pm.cathaylife.com.tw/secure/Dashboard.jspa')" class="nav-link  {{ 'active' if active_page == 'jira' else '' }}">
              <i class="nav-icon fab fa-jira"></i>
              <p>
                Jira
              </p>
            </a>
          </li>


          <!-- 常用連結及工具 -->
          <li class="nav-item {{ 'menu-open' if open_page == 'url' else '' }}">
            <a href="#" class="nav-link {{ 'active' if open_page == 'url' else '' }}">
              <i class="nav-icon fas fa-link"></i>
              <p>
                常用連結及工具
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ url_for('gather') }}" onclick="window.open('https://gather.town/app/Kfcmm6p8EEN5MwDm/cathaylife')" class="nav-link {{ 'active' if active_page == 'gather' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Gather 虛擬辦公室</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="http://10.95.42.31:8000" target="_blank" class="nav-link {{ 'active' if active_page == 'dataflowchart' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Data Flow Chart</p>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a href="#" class="nav-link {{ 'active' if active_page == 'ppt' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>簡報範本</p>
                </a>
              </li> -->
              <li class="nav-item">
                <a href="https://pixlr.com/tw/x/" target="_blank" class="nav-link {{ 'active' if active_page == 'pixlrx' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>PixlrX 線上繪圖</p>
                </a>
              </li>
            </ul>
          </li>


          <!-- HAP -->
          <li class="nav-item {{ 'menu-open' if open_page == 'hap' else '' }}">
            <a href="#" class="nav-link {{ 'active' if open_page == 'hap' else '' }}">
              <i class="nav-icon fab fa-hive"></i>
              <p>
                HAP 系統相關
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ url_for('jupyter') }}" class="nav-link {{ 'active' if active_page == 'jupyter' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Hadoop Jupyter</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('hive') }}" class="nav-link {{ 'active' if active_page == 'hive' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Hive 資料查詢系統</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link {{ 'active' if active_page == 'airflow' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Airflow 排程系統</p>
                </a>
              </li>
            </ul>
          </li>

          <!-- project_bfx -->
          <li class="nav-item {{ 'menu-open' if open_page == 'project_bfx' else '' }}">
            <a href="#" class="nav-link {{ 'active' if open_page == 'project_bfx' else '' }}">
              <i class="nav-icon fas fa-hospital-alt"></i>
              <p>
                BFX 影像辨識專案
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ url_for('project_bfx_1') }}" class="nav-link {{ 'active' if active_page == 'project_bfx_1' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>專案及環境</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('project_bfx_2') }}" class="nav-link {{ 'active' if active_page == 'project_bfx_2' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Leaderboard</p>
                </a>
              </li>
            </ul>
          </li>


        
          
          

          <!-- 法風稽 -->
          <!-- <li class="nav-item">
            <a href="#" class="nav-link  {{ 'active' if active_page == 'ffg' else '' }}">
              <i class="nav-icon fas fa-scroll"></i>
              <p>
                法風稽相關
              </p>
            </a>
          </li> -->

          <!-- 系統設定 -->
          <li class="nav-item {{ 'menu-open' if open_page == 'system' else '' }}">
            <a href="#" class="nav-link {{ 'active' if open_page == 'system' else '' }}">
              <i class="nav-icon fas fa-sliders-h"></i>
              <p>
                系統相關
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="http://10.95.43.73:8004/" target="_blank" class="nav-link {{ 'active' if active_page == 'ldap' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>LDAP Admin</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link {{ 'active' if active_page == 'pgadmin' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>pgAdmin</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="http://34.135.113.78:8080" target="_blank" class="nav-link {{ 'active' if active_page == 'pgAdmin_gcp' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>pgAdmin_gcp</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('create_jupyter') }}" class="nav-link {{ 'active' if active_page == 'create_jupyter' else '' }}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>HAP Jupyter管理</p>
                </a>
              </li>
            </ul>
          </li>


            
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->



  {% set active_page = active_page|default('index') -%}
  {% set open_page = open_page|default('index') -%}
  {% block content %} 
 
  {% endblock %}







   
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->

</div>



<script>
// 轉 PDF 儲存
function saveAsPDF() {
   html2canvas(document.getElementById("wrapper_page"), {
      onrendered: function(canvas) {
        var img = canvas.toDataURL('image/png'); //image data of canvas
        //  var doc = new jsPDF({orientation: 'landscape',format:'a4'});
        var doc = new jsPDF("l", "pt", [canvas.width, canvas.height]);
        console.log([canvas.width, canvas.height])
        doc.addImage(img, 'PNG', 0, 0, canvas.width, canvas.height);
        doc.save('page.pdf');
      }
   });
};

// 顯示上傳檔案名稱
$(document).ready(function(){
      $(".custom-file-input").change(function () {
        $(this).next(".custom-file-label").html($(this).val().split("\\").pop());
      });
    });
</script>

</body>
</html>












