{% extends "base.html" %} 
{% set open_page = "food" %} 
{% set active_page ="food_order" %} 
{% block content %}

<div class="content-wrapper" id="wrapper_page">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">今日訂餐</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active"></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-header -->

  <div class="content">
    <div class="container-fluid">
      <div id="no_order" class="alert alert-danger" role="alert" style="display:none;">今日尚無訂單</div>
    </div>
  </div>

  

  <div class="content">
    <div class="container-fluid">
      
      <!-- 訂購中 -->
      <div class="card card-success">
        <div class="card-header">
          <h3 class="card-title">編號 餐廳名稱 狀態</h3>
          <!-- 可以編輯訂單 -->
          <div class="card-tools">
            <button type="button" class="btn btn-tool" id="edit_order">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" id="del_order">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body" id="order_body">
          <!-- 訂單基本資訊 -->
          <div class="row justify-content-center">
            <div class="col-md-4" >
              <div style="top: 50%;text-align:center;">
                <a
                  href="{{ url_for('static', filename='page/food/img/nopic.jpg')}}"
                  class="example-image-link"
                  data-lightbox="example-set"
                  ><img
                    class="img-fluid example-image"
                    src="{{ url_for('static', filename='page/food/img/nopic.jpg')}}"
                    style='height: 300px; width: auto; object-fit: contain'
                    alt=""
                /></a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <dl class="row">
                    <dt class="col-sm-4">訂單編號</dt>
                    <dd class="col-sm-8">4864354685</dd>
                    <dt class="col-sm-4">開團者</dt>
                    <dd class="col-sm-8">HIDKJK</dd>
                    <dt class="col-sm-4">截止時間</dt>
                    <dd class="col-sm-8">2021-08-02 12:51:00</dd>
                    <dt class="col-sm-4">已訂購人數</dt>
                    <dd class="col-sm-8">15</dd>
                  </dl>
                </div>
                <div class="col-md-6">
                  <dl class="row">
                    <dt class="col-sm-4">店家編號</dt>
                    <dd class="col-sm-8">4864354685</dd>
                    <dt class="col-sm-4">店家名稱</dt>
                    <dd class="col-sm-8">HIDKJK</dd>
                    <dt class="col-sm-4">店家種類</dt>
                    <dd class="col-sm-8">15</dd>
                    <dt class="col-sm-4">店家電話</dt>
                    <dd class="col-sm-8">2021-08-02 12:51:00</dd>
                    <dt class="col-sm-4">店家地址</dt>
                    <dd class="col-sm-8">fefIIIfefI</dd>
                    <dt class="col-sm-4">店家評價</dt>
                    <dd class="col-sm-8 star-rating">5</dd>
                    <dt class="col-sm-4">備註</dt>
                    <dd class="col-sm-8">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh</dd>
                  </dl>
                </div>
            </div>
          </div>
          </div>

          <hr />
          <br />

          <!-- 使用者新增訂單 -->
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>訂購者</label>
                <input
                  type="text"
                  class="form-control"
                  id="order_name"
                  name="order_name"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>品項</label>
                <select
                  id="item_select"
                  name="item_select"
                  class="form-control"
                  style="width: 100%"
                >
                  <option>Text only 60</option>
                  <option>Images 30</option>
                  <option>Video 40</option>
                </select>
                <i style="color: grey">品項備註</i>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label>數量</label>
                <input
                  type="number"
                  id="item_num"
                  name="item_num"
                  value="1"
                  class="form-control"
                  min="0"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>備註</label>
                <input
                  type="text"
                  id="item_remark"
                  name="item_remark"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-2">
              <label></label>
              <button
                type="button"
                id="add_shopping_cart"
                class="btn btn-success col-md-12"
              >
                加入購物車
              </button>
            </div>
          </div>
          <br />
          <hr />
          <br />

          <!-- 購物車，有訂餐才會顯示 -->
          <form>
            <div id="shopping_cart">
              <h4>
                <i class="fas fa-shopping-cart"></i> <strong>購物車</strong>
              </h4>
              <div class="row">
                <div class="table-responsive">
                  <table
                    class="table table-hover text-nowrap"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>NO</th>
                        <th>訂購者</th>
                        <th>品項</th>
                        <th>單價金額</th>
                        <th>數量</th>
                        <th>備註</th>
                      </tr>
                    </thead>
                    <tbody id="shopping_cart_list">
                      <tr>
                        <td>1</td>
                        <td>John Doe</td>
                        <td>招牌水餃</td>
                        <td>60</td>
                        <td>1</td>
                        <td>
                          Bacon ipsum dolor sit amet salami venison chicken
                          flank fatback doner.
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <br />
                </div>
              </div>
              <br />
              <div class="row justify-content-end">
                <button
                  type="button"
                  id="order_submit"
                  class="btn btn-primary col-md-2"
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- 訂單統計 -->
      <div class="card card-success card-outline">
        <div class="card-header">
          <h3 class="card-title" style="font-weight: bold; color:#00B050;">訂單統計</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
                    class="table table-hover text-nowrap"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>NO</th>
                        <th>訂購者</th>
                        <th>品項</th>
                        <th>單價金額</th>
                        <th>數量</th>
                        <th>備註</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody id="shopping_cart_list">
                      <tr>
                        <td>1</td>
                        <td>John Doe</td>
                        <td>招牌水餃</td>
                        <td>60</td>
                        <td>1</td>
                        <td>
                          Bacon ipsum dolor sit amet salami venison chicken
                          flank fatback doner.
                        </td>
                        <td>
                          <button type="button" id="del_one_order" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
          </div>
        </div>
      </div>











      123123 123123
    </div>
  </div>
</div>
<!-- /.content-wrapper -->

<script>
$(document).ready(function(){

  // 顯示星數
  $(".star-rating").html(function(_,n) {
        return Array.apply(null, Array(+n)).map(function() {
            return $('<i />', { 'class' : 'fa fa-star star-full', 'style':'color:orange' });
        });
      });



});



</script>

{% endblock %}
