{% extends "base.html" %}
{% set open_page = "index" %}
{% set active_page = "index" %}
{% block content %}


  <div class="content-wrapper" id = "wrapper_page">

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <!-- <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Home</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">側邊說明</li>
            </ol>
          </div>
        </div>
      </div> -->
    </div>
    <!-- /.content-header -->

    <!-- news -->
    <div class="content">
      <div class="container-fluid">

        <!-- 區塊一 -->
        <!-- 公告 -->
        <div class="card card-default">
          <div class="card-header">
            <h2 class="card-title" style="font-weight: bold; color:#00B050;">最新公告</h2>
          </div>
          <div class="card-body">
            {% for item in broadcast_list %}
              <div>
                <p>
                  <b style="padding-right: 20px;">{{item[4]}}</b>
                  {{item[2]}}
                  {% if item[3] != '' %}
                  &nbsp;&nbsp;<a href="{{item[3]}}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                  {% endif %}
                </p>
              </div>
            {% endfor %}
          </div>
          <div class="card-footer" style="text-align:right;">
            <a href="{{ url_for('broadcast') }}" style="color:#00B050;">More </a>
          </div>
        </div>


        <!-- 區塊二 -->
        <div class="row">

          <!-- 今日訂餐 -->
          <div class="col-md-6">
            <div class="card card-default">
              <div class="card-header">
                <h2 class="card-title" style="font-weight: bold; color:#00B050;">今日訂餐</h2>
              </div>
              <div class="card-body">
                <div align=center>
                  <a href="{{ url_for('static', filename='page/food/img/10021.jpg')}}" class="example-image-link" data-lightbox="example-set"><img class="img-fluid example-image" src="{{ url_for('static', filename='page/food/img/10021.jpg')}}" width="300" alt="Photo"></a>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <span style="font-weight: bold;">訂購者：</span><span style="color:#616161;">訂購人</span> <br>
                    <span style="font-weight: bold;">今日菜單：</span><span style="color:#616161;">八方雲集</span> <br>
                    <span style="font-weight: bold;">截止時間：</span><span style="color:#616161;">2021-07-01 11:30</span>
                  </div>
                  <div class="col-md-6">
                    <span style="font-weight: bold;">已訂購人數：</span><span style="color:#616161;">6</span> <br>
                    <span style="font-weight: bold;">餐廳評價：</span><span style="color:#616161;">3.5 <i class="fas fa-star" style="color: rgb(247, 119, 0);"></i></span>
                  </div>

                </div>
                
              </div>
              <div class="card-footer" style="text-align:right;">
                <a href="#" style="color:#00B050;">More </a>
              </div>
            </div>
          </div>

          <!-- WIKI更新 -->
          <div class="col-md-6">
            <div class="card card-default">
              <div class="card-header">
                <h2 class="card-title" style="font-weight: bold; color:#00B050;">WIKI 最新更新</h2>
              </div>
              <div class="card-body row">
                <div class="col-md-6">
                  {% for item in wiki[0:7] %}
                    <div>
                      <p>
                        <b style="padding-right: 10px;">{{item.date}}</b>
                        <a href="{{item.url}}" target="_blank" style="padding-right: 10px;">{{item.title}}</a>
                        <i style="color:#6e6e6e;">{{item.user}}</i>
                      </p>
                    </div>
                  {% endfor %}
                </div>
                <div class="col-md-6">
                  {% for item in wiki[7:14] %}
                    <div>
                      <p>
                        <b style="padding-right: 10px;">{{item.date}}</b>
                        <a href="{{item.url}}" target="_blank" style="padding-right: 10px;">{{item.title}}</a>
                        <i style="color:#6e6e6e;">{{item.user}}</i>
                      </p>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="card-footer" style="text-align:right;">
                <a href="http://10.95.43.73:8001" target="_blank"  style="color:#00B050;">More </a>
              </div>
            </div>
          </div>
        </div>

        <!-- 區塊三 -->
        <!-- 留言板 -->
        <div class="card card-default">
          <div class="card-header">
            <h2 class="card-title" style="font-weight: bold; color:#00B050;">留言板</h2>
          </div>
          <div class="card-body">
            <form class="form-horizontal" method="POST" id="message_input">
              <div class="input-group input-group-sm mb-0">
                <input type="text" class="form-control form-control-sm col-sm-3" placeholder="Who" id="name">
                <input type="text" class="form-control form-control-sm col-sm-9" placeholder="Response" id="message">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-danger" id="submit">Send</button>
                </div>
              </div>
            </form>
            <div id="successAlert" style="display:none; color:steelblue;">訊息已送出!!</div>
            <div id="errorAlert" style="display:none; color:red;">訊息內容有誤</div>
            <hr>
            {% for msg in msg_board %}
            <div id="message_list">
              <span style="font-weight: bold;">@{{msg[1]}}</span>
              <i style="color: rgb(153, 153, 153); font-size:smaller; padding-left: 10px;">{{msg[3]}}</i>
              <p>{{msg[2]}}</p>
              <hr>
            </div>
            {% endfor %}
            
          </div>

        </div>

        


      </div>
    </div>










  </div> <!-- /.content-wrapper -->



<script>
  $('#submit').click(function(){
    var name = $('#name').val();
    var message = $('#message').val();
    if(name===''|message===''){
      $('#errorAlert').show();
      $('#successAlert').hide();
    }
    else {
      var data = {
      data:JSON.stringify({
        'name':name,
        'message':message
      })
      };
      $('#name').val("");
      $('#message').val("");
      // 打API
      $.ajax({
        type:'POST',
        url:'/simple_message_board',
        data:data
      }).done(function(data){
        $('#successAlert').show();
        $('#errorAlert').hide();
        $('#message_list').prepend('<div><span style="font-weight: bold;">@'+name+'</span><i style="color: rgb(153, 153, 153); font-size:smaller; padding-left: 10px;">'+data.date+'</i><p>'+message+'</p><hr></div>');
      });
    }
    

    event.preventDefault();
  });

</script>

  {% endblock %}