{% extends "base.html" %}
{% set open_page = "jira" %}
{% set active_page = "jira" %}
{% block content %}


  <div class="content-wrapper" id = "wrapper_page">

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Jira 專案管理工具</h1>
            <p style="color: gray;">
              公司的專案管理工具，<b>內外網都可以使用。</b> 
            </p>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->










  </div> <!-- /.content-wrapper -->



  {% endblock %}