{% extends "base.html" %}
{% set open_page = "project_bfx" %}
{% set active_page = "project_bfx_1" %}
{% block content %}


  <div class="content-wrapper" id = "wrapper_page">

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">BFX 專案及環境</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <div class="content">
      <div class="container-fluid">

        <!-- 區塊一 -->
        <!-- Overview -->
        <div class="card card-default">
          <div class="card-header">
            <h2 class="card-title" style="font-weight: bold; color:#00B050;">Overview</h2>
          </div>
          <div class="card-body">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#nav-dec" type="button" role="tab" aria-controls="nav-dec" aria-selected="true" style="color:cadetblue">Description</button>
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-eva" type="button" role="tab" aria-controls="nav-eva" aria-selected="false" style="color:cadetblue">Evaluation</button>
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-sub" type="button" role="tab" aria-controls="nav-sub" aria-selected="false" style="color:cadetblue">Submission Instructions</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-dec" role="tabpanel" aria-labelledby="nav-dec-tab">
                <div style="padding: 10px;">
                  <h4 id="-">需求說明</h4>
                  <li>用理賠X光骨折(Bone Fracture X-ray)POC案的影像，內部作一版模型。</li>
                  <li>嘗試的成果與困難皆可回饋理賠，協助判斷POC案成效。</li>
                  <li>同時提升部門對影像辨識、環境建置與驗測流程的能力。</li>
                  <br>
                  <h4 id="-">資料敘述</h4>
                  <p>資料主要有 Dicom 及 Array 兩類：</p>
                  <a href="{{ url_for('static', filename='page/project_bfx/img/bfx_1.png')}}" class="example-image-link" data-lightbox="example-set" style="padding: 2px;"><img src="{{ url_for('static', filename='page/project_bfx/img/bfx_1.png')}}" width="500"></a>
                  <a href="{{ url_for('static', filename='page/project_bfx/img/bfx_2.png')}}" class="example-image-link" data-lightbox="example-set" style="padding: 2px;"><img src="{{ url_for('static', filename='page/project_bfx/img/bfx_2.png')}}" width="500"></a>
                  <a href="{{ url_for('static', filename='page/project_bfx/img/bfx_4.jpg')}}" class="example-image-link" data-lightbox="example-set" style="padding: 2px;"><img src="{{ url_for('static', filename='page/project_bfx/img/bfx_4.jpg')}}" width="500"></a>
                  <br>
                  <br>
                  <h4 id="-">環境說明</h4>
                  <ol>
                    <li>work資料夾內的東西是共用的</li>
                    <li>程式碼建議放進9h資料夾內，避免遺失</li>
                    <li>資料建議不要瘋狂複製，空間有限</li>
                    <li>需要的套件直接在terminal pip install即可</li>
                    <li>每個jupyter有專用的GPU，請科內自行協調資源使用</li>
                    <li>如果特殊需求一定要自己一張GPU，請洽工程組</li>
                    <li>Jupyter lab 有非常多插件，可以在左側的 extension manager 自行加入</li>
                    <li>未盡事項請參考 jupyter 開發環境 work 資料夾內文件</li>
                  </ol>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-eva" role="tabpanel" aria-labelledby="nav-eva-tab">
                <div style="padding: 10px;">
                  <h4 id="-">驗測標準</h4>
                  <p>請預測 test data 的部位結果，分別是 0、1、2、3 四種結果，代表無、龜裂、不完全骨折、完全骨折。分數計算方式使用 accuracy 為指標。上傳檔案範本請參考附件 submission.csv。</p>
                  <br>
                  <a href="{{ url_for('static', filename='page/project_bfx/img/bfx_3.jpg')}}" class="example-image-link" data-lightbox="example-set" style="padding: 2px;"><img src="{{ url_for('static', filename='page/project_bfx/img/bfx_3.jpg')}}" width="500"></a>
                  
                </div>
              </div>
              <div class="tab-pane fade" id="nav-sub" role="tabpanel" aria-labelledby="nav-sub-tab">
                <div style="padding: 10px;">
                  <p>可以參考附件的 submission.csv，第一個欄位是BFX編號，第二個欄位是結果，只會有 0、1、2、3 四種結果，分別代表無、龜裂、不完全骨折、完全骨折。</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 區塊二 -->
        <!-- 附件區 -->
        <div class="card card-default">
          <div class="card-header">
            <h2 class="card-title" style="font-weight: bold; color:#00B050;">附件區</h2>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <p>本次 dataset 極為龐大，建議使用下面提供的 jupyter 環境進行開發，若要下載請慎思。</p>
              <table class="table">
                <tr>
                  <th>dicom.zip</th>
                  <td>14.3GB</td>
                  <td style="width:50%">dicom資料</td>
                  <td><a href="https://storage.googleapis.com/treebucket2021/dicom.zip"><button type="button" class="btn btn-primary float-right btn-sm" style="margin-right:"><i class="fas fa-download"></i></button></a></td>
                </tr>
                <tr>
                  <th>array.zip</th>
                  <td>14.2GB</td>
                  <td>array資料</td>
                  <td><a href="https://storage.googleapis.com/treebucket2021/array.zip"><button type="button" class="btn btn-primary float-right btn-sm" style="margin-right:"><i class="fas fa-download"></i></button></a></td>
                </tr>
                <tr>
                  <th>BFX_keys.csv</th>
                  <td>663.6KB</td>
                  <td>資料說明</td>
                  <td><a href="https://storage.googleapis.com/treebucket2021/BFX_keys.csv"><button type="button" class="btn btn-primary float-right btn-sm" style="margin-right:"><i class="fas fa-download"></i></button></a></td>
                </tr>
                <tr>
                  <th>BFX_範例.ipynb</th>
                  <td>163.4KB</td>
                  <td>程式範例，記得絕對路徑要改一下</td>
                  <td><a href="https://storage.googleapis.com/treebucket2021/BFX_%E7%AF%84%E4%BE%8B.ipynb"><button type="button" class="btn btn-primary float-right btn-sm" style="margin-right:"><i class="fas fa-download"></i></button></a></td>
                </tr>
                <tr>
                  <th>submission.csv</th>
                  <td>8.5KB</td>
                  <td>上傳csv範例</td>
                  <td><a href="https://storage.googleapis.com/treebucket2021/submission.csv"><button type="button" class="btn btn-primary float-right btn-sm" style="margin-right:"><i class="fas fa-download"></i></button></a></td>
                </tr>

                
              </table>
            </div>
          </div>
        </div>

        <!-- 區塊三 -->
        <!-- 開發環境 -->
        <div class="card card-default">
          <div class="card-header">
            <h2 class="card-title" style="font-weight: bold; color:#00B050;">開發環境</h2>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <p>開發環境有獨立的GPU Tesla K80，請科內自行協調使用順序，密碼都是 gpu-jupyter，若有特殊需求要獨立環境請洽工程組。以下環境只能在外網使用唷。</p>
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>NO</th>
                    <th>建立者</th>
                    <th>建立日期</th>
                    <th style="width:40%">團隊成員</th>
                    <th>環境狀態</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <th>內湖金城武</th>
                    <th>2021-08-10</th>
                    <th>客智科all</th>
                    <th><span class="badge bg-success">work</span></th>
                    <th>
                      <a href="http://35.184.131.167:8001/" target="_blank"><button type="button" class="btn btn-primary btn-sm">Jupyter Lab</button></a>
                    </th>
                  </tr>
                  <tr>
                    <th>2</th>
                    <th>內湖金城武</th>
                    <th>2021-08-10</th>
                    <th>商智科all</th>
                    <th><span class="badge bg-success">work</span></th>
                    <th>
                      <a href="http://35.184.131.167:8002/" target="_blank"><button type="button" class="btn btn-primary btn-sm">Jupyter Lab</button></a>
                    </th>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
        

      </div>
    </div>










  </div> <!-- /.content-wrapper -->



  {% endblock %}