{% extends "base.html" %}
{% set open_page = "project_bfx" %}
{% set active_page = "project_bfx_2" %}
{% block content %}


  <div class="content-wrapper" id = "wrapper_page">

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">BFX Leaderboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <div class="content">
      <div class="container-fluid">

        <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
	      <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>


        <!-- 區塊一 -->
        <!-- submit pred -->
        <div class="card card-default">
          <div class="card-header">
            <h2 class="card-title" style="font-weight: bold; color:#00B050;">Submit Predicrions</h2>
          </div>
          <div class="card-body">
            <form method="POST" id="bfx_form" enctype='multipart/form-data'>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" id = "bfx_name" name = "bfx_name" class="form-control" placeholder="Who r u..." required>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Upload submission file</label>
                    <div class="custom-file">
                     <input type="file" id = "bfx_csv" name = "bfx_csv" class="custom-file-input" accept=".csv, .CSV" required>
                     <label class="custom-file-label" for="submissionFile">Choose cav file</label>
                   </div>
                 </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Upload Notebook (非必要)</label>
                    <div class="custom-file">
                     <input type="file" id = "bfx_nb" name = "bfx_nb" class="custom-file-input" accept=".ipynb, .IPYNB">
                     <label class="custom-file-label" for="notebookFile">Choose ipynb file</label>
                   </div>
                 </div>
                </div>
              </div>
              <div class="form-group">
                <label>Describe submission</label>
                <textarea class="form-control" id = "bfx_des" name = "bfx_des" rows="3" placeholder="Enter ..."></textarea>
              </div>
              <button type="submit" id = "bfx_submit" class="btn btn-info float-right">Make Submission</button>
            </form>
          </div>
        </div>


        <!-- 區塊二 -->
        <!-- leaderboard -->
        <div class="card card-default">
          <div class="card-header">
            <h2 class="card-title" style="font-weight: bold; color:#00B050;">Leaderboard</h2>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id = "bfx_table" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>NO</th>
                    <th>Name</th>
                    <th>Notebook</th>
                    <th>說明</th>
                    <th>ACC_PART_OVERALL</th>
                    <th>ACC_LEVEL_OVERALL</th>
                    <th>ACC_PART_UE</th>
                    <th>ACC_LEVEL_UE</th>
                    <th>ACC_PART_LE</th>
                    <th>ACC_LEVEL_LE</th>
                    <th>ACC_PART_NE</th>
                    <th>ACC_LEVEL_NE</th>
                    <th>上傳日期</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in leaderboard_list %}
                  <tr>
                    <th>{{loop.index}}</th>
                    <td>{{item[1]}}</td>
                    <td>
                      {% if item[3] !='' %}
                      {% set filename = item[3].split('.')[0] %}
                      <a href="{{item[3]}}" target="_blank"><button type="button" class="btn btn-warning btn-sm">Notebook</button></a>
                      {% endif %}
                    </td>
                    <td>{{item[4]}}</td>
                    <td>{{item[5]}}</td>
                    <td>{{item[6]}}</td>
                    <td>{{item[7]}}</td>
                    <td>{{item[8]}}</td>
                    <td>{{item[9]}}</td>
                    <td>{{item[10]}}</td>
                    <td>{{item[11]}}</td>
                    <td>{{item[12]}}</td>
                    <td>{{item[13]}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>






           
          </div>
        </div>
        

      </div>
    </div>










  </div> <!-- /.content-wrapper -->


  <script>
    // 上傳成果
    $('#bfx_submit').click(function(){
      var name = $('#bfx_name').val();
      var csv = $('#bfx_csv').val();
      var nb = $('#bfx_nb').val();
      var des = $('#bfx_des').val();
      // var csv_file = new FormData($('#bfx_csv')[0]);
      if(name==='' | csv===''){
        $('#errorAlert').text("送出失敗，可能內容有誤").show();
        $('#successAlert').hide();
      }
      else{
        $('#successAlert').text("送出成功，請等待運算").show();
        $('#errorAlert').hide();
        $("#bfx_form").attr("action", "/project_bfx_evaluation");

      }
      
    });

    // 顯示datatable
    $('#bfx_table').DataTable({
      });
  </script>



  {% endblock %}