{% extends "base.html" %}
{% set open_page = "wiki" %}
{% set active_page = "wiki" %}
{% block content %}


  <div class="content-wrapper" id = "wrapper_page">

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Wiki 知識庫</h1>
            <p style="color: gray;">
              數據部專用知識庫，打上關鍵字找到你想要的資訊，<b>限定公司內網使用唷!!</b> 
            </p>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->










  </div> <!-- /.content-wrapper -->



  {% endblock %}